<!DOCTYPE html>
<html>
<head>
	<meta charset="utf">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Painless Upload</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="stylesheets/homepage.css" rel="stylesheet">
	<link href="stylesheets/universal.css" rel="stylesheet">
</head>
<body>
  <%- include ../partials/navbar.ejs %>
	<div id="banner">
		<div>
			<h1>Painless Upload</h1>
				<h4>You are just <code>3 clicks</code> away from making your website online</h4>
			<div>
				<button type="button" class="btn btn-default">Explore</button>
				<button type="button" class="btn btn-success" onclick="uploadClick()">Upload Your Website</button>
			</div>

		</div>
	</div>
  <div id="second">

  </div>

	<script>

		function uploadClick(){
			window.location.href = '/upload'
		}

	</script>
</body>
</html>
