#banner{
	height: 100vh;
	background: -webkit-linear-gradient(left top, #00537E , #3AA17E); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(left top, #00537E , #3AA17E);
  display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
}

#banner div{
	text-align: center;
	color: white;
	animation: fade 3s;
}

#banner div h1{
	text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
	font-size: 5em;
	font-family: 'Roboto';
	animation: fade 3s;
}

#banner div h4{
	font-size: 2em;
	font-family: 'Roboto';
	animation: fade 3s;
}

#banner div div{
	display: flex;
	justify-content: center;
}

#banner div div button{
	margin-right: 10px;
	font-size: 18px;
	padding: 8px 12px;
	margin-top: 10px;
}

#banner div div button:focus{
	outline: none;
}

#banner div input{
	width: 100%;
	border: none;
	font-size: 20px;
	padding: 12px 6px;
	margin-top: 5px;
	color: black;
	border-radius: 3px;
	box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.3);
}

#banner div input:focus{
	outline: none;
	box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.3);
}

#banner div p{
	color: white;
	font-size: 48px;
	position: absolute;
	bottom: 5px;
}

code{
	background-color: #F8ED86;
	color: black;
}
#second{
	height: 100vh;
	background-color: #155263;
}

@keyframes fade{
	from {opacity: 0;}
	to {opacity: 1;}
}
