.navbar{
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
	padding-top: 6px;
	padding-bottom: 6px;
}

.navbar-item button{
	font-size: 15px;
	padding: 8px 15px;
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 4px;
	font-weight: bold;
}

.form{
	background: -webkit-linear-gradient(left top, #00537E , #3AA17E); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(left top, #00537E , #3AA17E);
	padding-top: 100px;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.form-wraper{
	width: 500px;
	margin: 10px
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.form-head{
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.5);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.form-body{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form-body a{
	color: #00537E;
	text-decoration: none;
	font-weight: 600;
}

.form-body input{
	margin-bottom: 10px;
	width: 100%;
	padding: 10px 8px;
	border: 1px solid #F1F1F1;
	background-color: #F1F1F1;
	font-size: 18px;
	border-radius: 5px;
}

.form-body input:focus{
	outline: none;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.form-body input[type="file"]{
	background-color: red;
}

.form-body input[type="submit"]{
	background-color: #19215E;
	border: 1px solid #19215E;
}

.form-body input[type="submit"]:hover{
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.form-body button{
	width: 100%;
	background: #db3236;
	font-size: 18px;
	color: white;
	padding: 10px 8px;
	border: 1px solid #db3236;
}

.form-body button:hover{
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
	color: white;
}
