.navbar{
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
	padding-top: 6px;
	padding-bottom: 6px;
}

.navbar-item button{
	font-size: 15px;
	padding: 8px 15px;
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 4px;
	font-weight: bold;
}

.btn-success{
	background-color: #2EB872;
}

.btn-success:hover{
	background-color: #359768;
}

.navbar-item p{
	padding-top: 5px;
	font-size: 28px;
	margin-left: 20px;
	color: grey;
	cursor: pointer;
}
.form{
	background: -webkit-linear-gradient(left top, #00537E , #3AA17E); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(left top, #00537E , #3AA17E);
	padding-top: 100px;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.form-wraper{
	width: 500px;
	margin: 10px
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.form-head{
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.5);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #19215E;
}

.form-body{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form-body a{
	color: #00537E;
	text-decoration: none;
	font-weight: 600;
}

.form-body input{
	margin-bottom: 10px;
	width: 100%;
	padding: 10px 8px;
	border: 1px solid #F1F1F1;
	background-color: #F1F1F1;
	font-size: 18px;
	border-radius: 5px;
}

.form-body input:focus{
	outline: none;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.form-body input:hover{
	outline: none;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.form-body input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
	position: absolute;
}

.form-body label{
	background-color: #db3236;
	color: white;
	padding: 8px 18px;
	cursor: pointer;
}

.form-body label:hover{
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.form-body input[type="submit"]{
	background-color: #19215E;
	border: 1px solid #19215E;
	color: white;
}

.form-body input[type="submit"]:hover{
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.form-body button{
	width: 100%;
	background: #db3236;
	font-size: 18px;
	color: white;
	padding: 10px 8px;
	border: 1px solid #db3236;
}

.form-body button:hover{
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
	color: white;
}

.form-body button:focus{
	outline: none;
	color: white;
}

hr{
	border: 1px solid lightgrey;
}

.loader {
	display: none;
	border: 4px solid #19215E;
  border-top: 4px solid #db3236;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
	position: relative;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alert{
	padding: 20px 12px;
	border-left: 5px solid #db3236;
	background-color: white;
	border-radius: 0;
}

.profile-img{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	cursor: pointer;
}
