.navbar{
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
	padding-top: 6px;
	padding-bottom: 6px;
}

.navbar-item button{
	font-size: 15px;
	padding: 8px 15px;
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 4px;
	background-color: #A7D46F;
	border: 1px solid #A7D46F;
	font-weight: bold;
}

.form{
	background-color: #A7D46F;
	padding-top: 100px;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.form-wraper{
	width: 500px;
	margin: 10px
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(0, 0, 0, 0.1);
}

.form-head{
	padding: 10px 20px;
	background: #00537E;
	color: white;
}

.form-body{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
}

.form-body a{
	color: #00537E;
	text-decoration: none;
	font-weight: 600;
}

.form-body input{
	margin-bottom: 10px;
	width: 100%;
	padding: 8px 6px;
	border: 1px solid #00537E;
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 16px;
}

.form-body input:focus{
	outline: none;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.form-body input[type="file"]{
	background-color: red;
}

.form-body input[type="submit"]{
	background-color: #00537E;
	color: white;
}

.form-body input[type="submit"]:hover{
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}
