<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbr" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="/" class="navbar-brand">Painless</a>
    </div>
    <div class="collapse navbar-collapse" id="mynavbr">
      <ul class="nav navbar-nav navbar-right">
        <% if(loggedIn) {%>
          <li class="navbar-item"><button type="button" class="btn btn-success" onclick="window.location.href='/user/<%=data.username %>'"><%= data.name %></button></li>
        <% } else {%>
          <li class="navbar-item"><button type="button" class="btn btn-success" onclick="window.location.href='/login'"><i class="fa fa-sign-in"></i> Login</button></li>
          <li class="navbar-item"><button type="button" class="btn btn-success" onclick="window.location.href='/signup'"><i class="fa fa-user"></i> Signup</button></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
